# Twitter API key can be obtained at https://apps.twitter.com.
twitterConsumerKey=MB188G6KIpxadOajVSnqtGA7O
twitterConsumerSecret=RmL0eeboamPMkvcWv1E7zeSY5qLzn7PY7Su5yHmOwrzfEb3jgU

# MoPub AD Unit Id can be obtained at https://app.mopub.com/.
mopubAdUnitId=EDIT_THIS